table,tr,td{
    background-color: LightGoldenRodYellow ;
    font-family: century gothic;
    color: black;
    border: 1px solid aqua;
    padding: 5px;
    border-collapse: collapse;
    }
.h{
    border: 8px groove blueviolet;
    padding: 20px;
    }
.posisi{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 120px;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    }
body{
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: 2000px auto;
    }